/* input{
    width: 340px;
    height: 39px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: column;
} */
input { 
    width: 100%; 
    height: 39px; 
    background-color: #FFFFFF; 
    color: #000001; 
    border-radius: 8px; 
    border: 1px; 
    padding-right: 15px; 
}